#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

#define DEF     0
#define NUM     1
#define NAV     2
#define SYM     3
#define FN      4

#define XXX &none
#define ___ &trans

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   // 10
        };

        td0: td_ls_cl {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        lt {
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            retro-tap;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        label = "RGB_ENCODER";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "QWERTY";

	    bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T              &kp UP_ARROW           &kp Y         &kp U         &kp I         &kp O         &kp SEMI      &kp GRAVE
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LSHIFT    &hm LGUI A    &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G              &kp DOWN_ARROW         &kp H         &hm RSHFT J   &hm RCTRL K   &hm LALT L    &hm RGUI P    &kp SQT
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp CAPS      &kp Z         &kp X         &kp C         &kp V         &kp B              &kp LEFT_ARROW         &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp ESC
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                &kp C_MUTE    &mo FN        &lt NAV TAB   &lt NUM SPACE      &kp RIGHT_ARROW        &mo SYM       &lt NAV BSPC  &mo FN                            
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯    ├─────────────────┤    ╰─────────────┴─────────────┴─────────────╯                            
                                                                                             &mkp LCLK
//                                                                                         ╰─────────────────╯
            >;     

            label = "QWERTY";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        num {
            display-name = "NUMBER";

	    bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0        ___                   ___           ___           ___           ___           ___           ___ 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp ASTRK     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS            ___                   ___           &kp RSHIFT    &kp RCTRL     &kp LALT      &kp RGUI      ___ 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp KP_SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS           ___                   ___           ___           ___           ___           ___           ___ 
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                ___           ___           ___           ___                 ___                   &kp ENTER     ___           ___                             
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯    ├─────────────────┤    ╰─────────────┴─────────────┴─────────────╯                            
                                                                                              ___
//                                                                                         ╰─────────────────╯
            >;     

            label = "NUMBER";
            sensor-bindings = <&scroll_encoder>;
        };

        nav {
            display-name = "NAVIGATOR";

	    bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           &kp LC(Q)     &kp LC(W)     &kp LC(E)     &kp LC(E)     &kp LC(T)           ___                   ___           ___           ___           ___           &kp END       &kp DEL
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    &kp LC(G)           ___                   &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none         &kp PG_UP  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(V)           ___                   ___           ___           ___           ___           &kp HOME      &kp PG_DN
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                ___           ___           ___           ___                 ___                   ___           ___           ___                     
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯    ├─────────────────┤    ╰─────────────┴─────────────┴─────────────╯                            
                                                                                              ___
//                                                                                         ╰─────────────────╯
            >;     
     
            label = "NAVIGATOR";
            sensor-bindings = <&scroll_encoder>;
        };

        sym {
            display-name = "SYMBOL";

	    bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___           &kp DLLR            ___                   &kp PLUS      &kp RPAR      &kp RBRC      &kp RBKT      &kp PIPE      &kp CARET
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    &kp AT              ___                   &kp MINUS     &kp LPAR      &kp LBRC      &kp LBKT      &kp AMPS      &kp PRCNT  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___           &kp HASH            ___                   &kp UNDER     &kp EQUAL     &kp lt        &kp gt        &kp EXCL      ___
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                ___           ___           ___           ___                 ___                   ___           ___           ___                     
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯    ├─────────────────┤    ╰─────────────┴─────────────┴─────────────╯                            
                                                                                              ___
//                                                                                         ╰─────────────────╯
            >; 

            label = "SYMBOL";
            sensor-bindings = <&scroll_encoder>;
        };

        fn {
            display-name = "Fn";

	    bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬─────────────┬────────────────╮
    &kp PSCRN     ___           &kp F7        &kp F8        &kp F9        &kp F10             ___                   &rgb_ug RGB_TOG  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &kp PAUSE_BREAK
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼─────────────┼────────────────┤
    ___           ___           &kp F4        &kp F5        &kp F6        &kp F11             ___                   &rgb_ug RGB_BRI  &kp RCTRL        &kp LALT         &kp RGUI         &kp PRCNT     &kp SLCK
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼─────────────┼────────────────┤
    ___           ___           &kp F1        &kp F2        &kp F3        &kp F12             ___                   &rgb_ug RGB_BRD  &rgb_ug RGB_EFF  &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &kp EXCL      &bt BT_CLR
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼─────────────┼────────────────╯
                                ___           ___           ___           ___                 ___                   ___              ___              ___                     
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯    ├─────────────────┤    ╰────────────────┴────────────────┴────────────────╯                            
                                                                                              ___
//                                                                                         ╰─────────────────╯
            >; 

            label = "FN";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
